/* docker.enabled = true */
profiles {
  hyperplane_singularity {
    process {
        withName: CDHIT {
            container = 'file:///$SINGULARITY_SIF_PATH/cd-hit-4-8-1.sif'
        }
        withName: CDHITTOTSV {
            container = 'file:///$SINGULARITY_SIF_PATH/cdhit-to-tsv.sif'
        }
        withName: EPIDOPE {
            container = 'file:///$SINGULARITY_SIF_PATH/epidope_v0.3.sif'
        }
        withName: BEPIPRED {
            container = 'file:///$SINGULARITY_SIF_PATH/iedb-b-cell_latest.sif'
        }
    }
    singularity {
        enabled = true
    }
  }
}
