/* docker.enabled = true */
profiles {
  hyperplane_singularity {
    process {
        withName: CDHIT {
            container = 'file:///$SINGULARITY_SIF_PATH/cd-hit-4-8-1.sif'
        }
        withName: CDHITTOTSV {
            container = 'file:///$SINGULARITY_SIF_PATH/cdhit-to-tsv.sif'
        }
        withName: EPIDOPE {
            container = 'file:///$SINGULARITY_SIF_PATH/epidope_v0.3.sif'
        }
        withName: BEPIPRED {
            container = 'file:///$SINGULARITY_SIF_PATH/iedb-b-cell_latest.sif'
        }
       withName: BEPIPREDTOTSV {
            container = 'file:///$SINGULARITY_SIF_PATH/bepipred-to-tsv_latest.sif'
        }
       withName: DISCOTOPE {
            container = 'file:///$SINGULARITY_SIF_PATH/discotope_1.1.sif'
        }
       withName: DISCOTOPETOTSV {
            container = 'file:///$SINGULARITY_SIF_PATH/discotope_to_tsv_latest.sif'
        }
       withName: NETMHCPANIEDB {
            container = 'file:///$SINGULARITY_SIF_PATH/iedb-mhc-i_latest.sif'
        }
      withName: NETMHCPANI {
            container = 'file:///$SINGULARITY_SIF_PATH/netmhcpan_i_4.1.sif'
        }
      withName : NETMHCPANIIEDB {
            container = 'file:///$SINGULARITY_SIF_PATH/iedb-mhc-ii_latest.sif'
        }
      withName: NETMHCPANI {
            conainer = 'file:///$SINGULARITY_SIF_PATH/netmhcpan_ii_4.1.sif'
        }
      withName: SPLITFASTAS {
            container = 'file:///$SINGULARITY_SIF_PATH/split_fastas_latest.sif'
        }
      withName: TCRPMHC {
            container = 'file:///$SINGULARITY_SIF_PATH/tcrpmhc_1.0.sif'
        }
      withName: PDBEPISA {
            container = 'file:///$SINGULARITY_SIF_PATH/pisa_server_latest.sif'
        }
    }
    singularity {
        enabled = true
    }
  }
}
